@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 30px;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-size: contain;
}

.input-group {
  margin: 0 auto;
  width: 50%;
}

.search-bar {
  padding: 5px;
  font-size: 1em;
  height: 2em;
  width: 20em;
}

.submit-btn {
  // padding: 10px 20px;
  margin: 20px;
  font-size: 1em;
  height: 2.6em;
  text-align: center;
}